
.hero {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    // background-size: cover;
    // object-fit: contain;
}

.whitebox {
    background-color: white;
    width: 275px;
    box-shadow: #2B498B 10px 10px;
}
